# the inherit directories and files in the IDE Intellij IDEA
/.idea/
/out/
/src/META-INF/

# input(novels and people name lists) and output, and its smaple
/input/
/inputSample/
/output/
/outputSample/

# this file .gitignore
# .gitignore
