# the inherit directories and files in the IDE Intellij IDEA
/.idea/
/out/
/src/META-INF/
JinYong'sJiangHu.iml

# input(novels and people name lists) and output, and its smaple
# /input/
/input/novels/
# /input/people_name_list.txt
/inputSample/
/out/
/output/
/outputSample/


# this file .gitignore
# .gitignore
